.header {
    min-height: 55px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: var(--background-item);
    border-radius: 15px 15px 0 0;
    margin-bottom: 1px;
    align-items: center;

    .title {
        margin-left: 33px;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            margin: auto 0;
            font-size: 20px;
        }
    }

    .action {
        width: 40%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 100%;
        padding-right: 10px;

        p {
            width: 100%;
            margin: auto 10px;
            padding: 0;
            font-size: 15px;
            text-align: right;
        }

        svg {
            margin: auto 0;
        }
    }
}
