.custom-button {
    text-transform: uppercase;
    font: 18px Montserrat, sans-serif;
    color: #fff;
    font-weight: 400;
    background: #000;
    padding: 15px 40px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
