.specification {
    background: #000;
    padding: 60px 0;

    .specification-header {
        margin: 0 0 20px 0;
        color: #fff;
        padding: 0 15px;

        h3 {
            font: 18px Montserrat, sans-serif;
            font-weight: 300;
        }

        h1 {
            font: 36px Montserrat, sans-serif;
            font-weight: 300;
            line-height: 25px;
        }
    }

    .row {
        color: #fff;
        padding: 0 15px;

        .line-seperator {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                border-top: 1px solid rgb(233, 233, 233);
                bottom: 10%;
                width: 90%;
            }
        }

        .specification-name,
        .specification-value {
            font-size: 13px;
            font-weight: 400;
        }

        .specification-name {
            display: inline;
            font-weight: bold;
        }
    }
}
