.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #111111;
    top: 50px;
    right: 0;
    z-index: 5;
    overflow: hidden;

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
        text-transform: none;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }

    button {
        margin-top: auto;
        padding: 10px 20px;
        font-weight: 500;
    }
}
