.booking-item {
    margin: 2px 0;
    width: 100%;
    display: flex;
    background: #0f0f1b;
    padding: 10px 0;

    .modal-dialog {
        max-width: 65%;
        max-height: 85vh;
        overflow: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em;
        }

        &::-webkit-scrollbar-thumb {
            background: linear-gradient(to top, #008aff, #00ffe7);
            border-radius: 3px;
        }

        .modal-content {
            background: #0f0f1b;

            .modal-header {
                h5 {
                    color: #fff;
                }

                .close {
                    span {
                        color: #ffffff;
                    }
                }
            }

            .modal-body {
                color: #fff;
            }

            .modal-footer {
                border: none;
            }
        }
    }

    .booking-item-image {
        height: 170px;
        width: 120px;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .booking-header {
        width: 100%;
        display: flex;
        flex-direction: column;

        .product-name {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            border-radius: 15px 15px 0 0;
            margin-bottom: 1px;
            align-items: center;
            color: #fff;

            .title {
                flex-basis: 70%;
                display: flex;

                h3 {
                    margin: auto 0;
                    font-size: 20px;
                    font-weight: 400;
                }

                .status {
                    margin: 0 10px;
                    text-transform: capitalize;
                    padding: 5px 10px;
                    border-radius: 20px;

                    p {
                        font-size: 16px;
                        color: #ffffff;
                        margin: 0;
                        font-weight: 400;
                    }
                }

                .processing {
                    background: var(--processing-status);
                }

                .delivered {
                    background: var(--delivered-status);
                }

                .delivering {
                    background: var(--delivering-status);
                }

                .cancelled {
                    background: var(--cancelled-status);
                }
            }

            .action {
                flex-basis: 30%;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                height: 100%;
                padding-right: 10px;

                span {
                    cursor: pointer;
                    width: 100%;
                    margin: auto 10px;
                    padding: 0;
                    font-size: 15px;
                    font-weight: 400;
                    text-align: right;

                    &:hover {
                        color: #d90056;
                    }
                }

                svg {
                    margin: auto 0;
                }
            }
        }
    }

    .booking-info {
        margin-top: 15px !important;
        color: #fff;
    }
}
