.award-lineup {
    position: relative;
    background: #000;
    width: 100%;
    min-height: 65vh;

    .award-lineup-header {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding: 40px 0 20px 0;

        .title {
            position: relative;
            display: block;
            margin: auto;
            text-align: center;

            h2 {
                display: block;
                font: 35px Montserrat, sans-serif;
                color: #fff;
                font-weight: 600;
            }
        }
    }

    .award-lineup-content {
        position: relative;
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
}
