.cart-icon {
    cursor: pointer;
    text-align: left;
    position: relative;

    .item-count {
        background: #c6181c;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        position: absolute;
        visibility: hidden;
    }

    .show {
        visibility: visible;
    }
}
