.cart-icon {
    cursor: pointer;
    text-align: center;

    .shopping-icon {
        width: 24px;
        height: 24px;
    }

    .item-count {
        position: absolute;
        font-size: 10px;
        color: #fff;
        font-weight: bold;
        bottom: 12px;
    }
}
