.booking-item-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .title {
        font-size: 16px;
        font-weight: 400;
    }

    .value {
        font-size: 13px;
        font-weight: 300;
        text-transform: capitalize;
    }
}
