.w-85 {
    width: 85%;
    padding: 20px 0;

    .checkout-page {
        background: #000;
        color: #fff;
        width: 100%;
        min-height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .checkout-header {
            width: 100%;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #d9d9d9;

            .header-block {
                text-transform: capitalize;
                width: 23%;
                font-weight: 500;

                &:last-child {
                    width: 10%;
                }
            }
        }

        .total {
            margin-top: 30px;
            margin-left: auto;
            font-size: 25px;
        }
    }

    .payment-info {
        width: 100%;

        h2 {
            color: #d9d9d9;
            font-size: 18px;
        }

        .basic {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .form-input:nth-child(1) {
                flex-basis: 50%;
                margin-right: 10px;
            }
        }

        button {
            padding: 10px 40px;
            background: #c6181c;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}
