.header {
    width: 100%;
    background: #000;

    .navbar-brand {
        max-width: 180px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .nav-item {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0 5px;
        cursor: pointer;

        .nav-link {
            letter-spacing: 1px;
            color: #fff;
        }

        &:hover .nav-link {
            border-bottom: 1px solid #fff;
        }
    }
}
