* {
    box-sizing: border-box;
    font-family: "Open Sans Condensed", sans-serif;
}

body {
    background: #000;
}

a {
    text-decoration: none !important;
    color: #fff;
}

a:hover {
    text-decoration: none !important;
    color: #fff;
}

.App {
    min-height: 100vh;
}

.loading {
    min-height: 100vh;
    width: 100%;
}
